/target
.env*
.env.prod*

# *.env*
config/.env.*
config/.env/*
config/secrets
config/secrets/*
config/olds
config/v2/secrets

dump.rdb
/src/generated
node_modules
.cursor
.cursorignore

config/secrets/.env.stage2

.claude/
.cursor/
config/old

misc