/target
.env*
.env.prod*
.DS_Store
config/.env/*
config/testing/secrets
config/secrets/*
config/olds
config/v2/secrets
dump.rdb
/src/generated
node_modules
.cursor
.cursorignore
config/secrets/.env.stage2
.claude/
.cursor/
config/old
misc
gitbook
cleanup
.cursorignore
feedbacks
pnl
src/pnl.rs
src/backfill.rs