# This is a docker-compose file for the Tycho Market Maker
# To validate it, run: docker compose config

networks:
  tmm: 
    external: true

services:

  unichain-eth-usdc:
    build: 
      context: .
      dockerfile: ops/Dockerfile
      args:
        - PROGRAM=maker
        - BUILD_TYPE=debug #!
    # depends_on: []
    depends_on:
      redis:
        condition: service_healthy
      monitor: # Important to have the monitor running before the maker, else the publish action will fail
        condition: service_started
    environment:
      - REDIS_HOST=redis
      - RUST_LOG=off,maker=trace,shd=trace,monitor=trace
      - CONFIG_PATH=config/unichain.eth-usdc.toml
      - SECRET_PATH=config/secrets/.env.unichain.eth-usdc
    restart: always
    networks:
      - tmm

  # One monitor for all market maker instances
  monitor:
    profiles: ["monitor"]
    build: 
      context: .
      dockerfile: ops/Dockerfile
      args:
        - PROGRAM=monitor
        - BUILD_TYPE=debug
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_HOST=redis
      - RUST_LOG=off,maker=trace,shd=trace,monitor=trace
    restart: always
    networks:
      - tmm

  # One Redis server for all market maker instances and the monitor
  redis:
    profiles: ["monitor"]
    image: redis:latest
    restart: always
    ports:
      - "42044:42044"
    command: redis-server --port 42044 --save "" --appendonly no # --loglevel verbose
    environment:
      - BUILD_TYPE=debug
      - REDIS_HOST=redis
      - REDIS_PORT=42044
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -p 42044 ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - tmm

  # base-eth-usdc:
  #   build: 
  #     context: .
  #     dockerfile: ops/Dockerfile
  #     args:
  #       - PROGRAM=maker
  #       - BUILD_TYPE=debug #!
  #   depends_on: []
  #   environment:
  #     - RUST_LOG=off,maker=trace,shd=trace,monitor=trace,test=trace
  #     - REDIS_HOST=redis
  #     - CONFIG_PATH=config/base.eth-usdc.toml
  #   restart: always
  #   networks:
  #     - tmm

