# This is a docker-compose file for the Tycho Market Maker
# To validate it, run: docker compose config

networks:
  tmm: 
    external: true

services:

  maker-base-alpha:
    build: 
      context: .
      dockerfile: ops/Dockerfile
      args:
        - PROGRAM=market_maker
        - BUILD_TYPE=debug #!
    ports:
      - "42042:42042"
    depends_on:
      monitor:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - config/.env.market_maker.ex #!
    environment:
      - RUST_LOG="off,market_maker=trace,shd=trace,monitor=trace,test=trace"
      - REDIS_HOST=redis
      - CONFIG_PATH=config/mmc.base.eth-usdc.toml
    restart: always
    networks:
      - tmm

  monitor:
    build: 
      context: .
      dockerfile: ops/Dockerfile
      args:
        - PROGRAM=monitor
        - BUILD_TYPE=debug #!
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - config/.env.moni.ex #!
    environment:
      - RUST_LOG="off,market_maker=trace,shd=trace,monitor=trace,test=trace"
      - REDIS_HOST=redis
    restart: always
    networks:
      - tmm

  redis:
    image: redis:latest
    restart: always
    ports:
      - "42044:42044"
    environment:
      - BUILD_TYPE=debug
      - REDIS_HOST=redis
      - REDIS_PORT=42044
      - REDIS_ARGS="--loglevel verbose"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - tmm