# This is a docker-compose file for the Tycho Market Maker
# To validate it, run: docker compose config

# Usage:
# By default, only maker instances run when executing: docker compose up
# To include monitor and Redis services, use the monitoring profile:
#   docker compose --profile monitoring up --build
#
# This allows running monitor/Redis locally while makers run in Docker


networks:
  tmm: 
    external: true

services:

  # ============================== MAKERS ==============================================

  mainnet-eth-usdc:
    build: 
      context: .
      dockerfile: ops/Dockerfile
      args:
        - PROGRAM=maker
        - BUILD_TYPE=debug #!
    depends_on:
      redis:
        condition: service_healthy
      monitor: 
        condition: service_started
    environment:
      - REDIS_HOST=redis
      - RUST_LOG=off,maker=trace,shd=trace,monitor=trace
      - CONFIG_PATH=config/mainnet.eth-usdc.toml
      - SECRET_PATH=config/secrets/.env.mainnet.eth-usdc
    restart: always
    networks:
      - tmm


  unichain-eth-usdc:
    build: 
      context: .
      dockerfile: ops/Dockerfile
      args:
        - PROGRAM=maker
        - BUILD_TYPE=debug #!
    depends_on:
      redis:
        condition: service_healthy
      monitor: # Important to have the monitor running before the maker, else the publish action will fail
        condition: service_started
    environment:
      - REDIS_HOST=redis
      - RUST_LOG=off,maker=trace,shd=trace,monitor=trace
      - CONFIG_PATH=config/unichain.eth-usdc.toml
      - SECRET_PATH=config/secrets/.env.unichain.eth-usdc
    restart: always
    networks:
      - tmm

  # ============================== MONITOR & REDIS ==============================

  # One monitor for all market maker instances
  monitor:
    build:
      context: .
      dockerfile: ops/Dockerfile
      args:
        - PROGRAM=monitor
        - BUILD_TYPE=debug
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_HOST=redis
      - RUST_LOG=off,maker=trace,shd=trace,monitor=trace
    restart: always
    networks:
      - tmm
    # profiles:
    #   - monitoring

  # One Redis server for all market maker instances and the monitor
  redis:
    image: redis:latest
    restart: always
    ports:
      - "42044:42044"
    environment:
      - BUILD_TYPE=debug
      - REDIS_HOST=redis
      - REDIS_PORT=42044
      - REDIS_ARGS="--loglevel verbose"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - tmm
    # profiles:
    #   - monitoring

